extends ../layouts/main.pug

block content
    h2 Account recovery

    if error
        +alert('danger', error)

    form(method='post', action='/account/recover')
        input(type='hidden', name='_csrf', value=csrf)

        .form-group
            label(for='email') Email address
            input#email.form-control(type='email', name='email', placeholder='Your email', required=true, value=values.email, class={'is-invalid': errors && errors.email})
            if errors && errors.email
                .invalid-feedback= errors.email

        .form-group
            button.btn.btn-primary(type='submit') Send recovery code
