extends ../layouts/main.pug

block content
    h2 Set a password for your account

    form(method='post', action='/account/set-password')
        div.form-group
            label(for='password') Set password
            input.form-control(type='password', name='password', id='password', placeholder='Set password')
            small.form-text.text-muted Minimum 8 characters
            if errors && errors.password
                .invalid-feedback= errors.password

        div.form-group
            label(for='password2') Repeat password
            input.form-control(type='password', name='password2', id='password2', placeholder='Repeat password')
            if errors && errors.password2
                .invalid-feedback= errors.password2

        div.form-group
            button.btn.btn-primary(type='submit') Set password
