extends ../layouts/main.pug

block content
    if error
        +alert('danger', error)

    include template-header

    form(method='post', action='/templates/add')
        input(type='hidden', name='_csrf', value=csrf)

        include template-form

        .form-group
            button.btn.btn-primary(type='submit') Add new template
            = " "
            a.btn.btn-warning(href='/templates') Cancel


block append scripts
    script(src='/ace/ace.js')

    script.
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/xcode");
        editor.session.setMode("ace/mode/handlebars");

        var textarea = $('textarea#code').hide();
        editor.getSession().setValue(textarea.val());
        editor.getSession().on('change', function(){
            textarea.val(editor.getSession().getValue());
        });

        function setupEditorInsert(elm){
            elm.addEventListener('click', function(e){
                e.preventDefault();
                editor.insert(elm.dataset.value)
            }, false)
        }

        var btns = document.querySelectorAll('.mm-editor-insert');
        for(var i=0, len=btns.length; i<len; i++){
            setupEditorInsert(btns[i]);
        }
