div.float-right
    a.btn.btn-info(href='/templates/add') Add new template

h2 Templates

p.lead This is where you can manage base templates for your messages.

include template-menu.pug

div.clearfix.mt-3
