nav.nav.nav-tabs
    li.nav-item
        a.nav-link(href='/messages', class={'active': messagesPage=='list'}) Messages
    li.nav-item
        a.nav-link(href='/messages/settings', class={'active': messagesPage=='settings'}) Settings
    if messagesPage=='manage'
        li.nav-item
            a.nav-link.active(href='#')= title
