div.float-right
    a.btn.btn-info(href='/messages/add') Compose new

h2 Messages

p.lead This is where you can manage and send messages to your subscribers.

include message-menu.pug

div.clearfix.mt-3
