extends ../layouts/subscribers.pug

block content
    h2 Subscription updated
    p.lead Your subscription address for #{listData.name} was successfully updated.

    p
        a(href='/subscribers/edit/' + subscriber) Update your preferences
