extends ../../layouts/email.pug

block content
    h3 Please Confirm E-mail Change

    p
        a.action-link(href=validationUrl) Yes, confirm my updated e-mail address

    p If you received this email by mistake, simply delete it. You won't be subscribed if you don't click the confirmation link above.

    p For questions about this list, please contact:
        =" "
        a(href='mailto:'+listData.email)= listData.email
