//- plaintext message content

| Please Confirm E-mail Change
| ============================
|
| Yes, confirm my updated e-mail address: !{validationUrl}
|
| If you received this email by mistake, simply delete it. You won't be subscribed unless you click the confirmation link above.
|
| For questions about this list, please contact: !{listData.email}
|
| !{appname} at (!{appurl})
