div.float-right
    a.btn.btn-info(href='/users/add') Add new user

h2 Users

p.lead This is where you can manage registered users for the service. Every user has their own set of lists and subscribers.

include user-menu.pug

div.clearfix.mt-3
